extend account

append base
    br
    .card-deck
        .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
            img.card-img-top(src=legend1Image alt='Apex Legend Image')
            .card-body
            h5.card-title #{legend1Name}
            p.card-text
                h5 #{legend1StatTracker1} 
                h6 #{legend1StatTracker1Data}
                br
                h5 #{legend1StatTracker2} 
                h6 #{legend1StatTracker2Data}
                br
                h5 #{legend1StatTracker3}
                h6 #{legend1StatTracker3Data}
        .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
            img.card-img-top(src=legend2Image alt='Apex Legend Image')
            .card-body
            h5.card-title #{legend2Name}
            p.card-text
                h5 #{legend2StatTracker1} 
                h6 #{legend2StatTracker1Data}
                br
                h5 #{legend2StatTracker2} 
                h6 #{legend2StatTracker2Data}
                br
                h5 #{legend2StatTracker3}
                h6 #{legend2StatTracker3Data}
        .card.text-white.bg-dark.mb-3(style='max-width: 18rem;')
            img.card-img-top(src=legend3Image alt='Apex Legend Image')
            .card-body
            h5.card-title #{legend3Name}
            p.card-text
                h5 #{legend3StatTracker1} 
                h6 #{legend3StatTracker1Data}
                br
                h5 #{legend3StatTracker2} 
                h6 #{legend3StatTracker2Data}
                br
                h5 #{legend3StatTracker3}
                h6 #{legend3StatTracker3Data}
